*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.wrapper{
	width: 1000px;
	margin: 0 auto;
	box-shadow: 0px 0px 10px black;
}
.header{
	background-color: #323232;
	padding: 30px 0;
}
.container-about{
	display: flex;
	margin: 0 auto;
	width: 900px;
	justify-content: space-between;
}
.photo{
	border-radius: 20px;
	box-shadow: 0px 0px 5px white;
}
.name{
	margin-top: 70px;
	color: white;
	font-size: 40px;
	text-shadow: 0px 0px 5px black;
}
.menu {
	list-style: none;
	font-size: 18px;
	margin-top: 40px;
}
.menu li {
	padding-top: 10px;
	position: relative;
}
.menu li img {
	position: absolute;
	left: -27px;
	top: 8px;
	filter: invert(1);
}
.menu li a:link,
.menu li a:visited {
	text-decoration: none;
	color: #959595;
}

.menu li a:hover {
	color: #2eb398;
	text-shadow: 0px 0px 1px yellow;
}
.skills {
	color: white;
}
.box .subtitle {
	color: #BF3A30;
}
.box {
	width: 250px;
	padding: 10px;
	margin: 0 20px;
	border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, yellow 0%, transparent 40%, transparent 60%, yellow 100%);
  border-image-slice: 1;
	animation: anim 4s linear infinite alternate;
}
@keyframes anim {
	form {
		margin-left: 20px;
	}
	to {
		margin-left: 735px;
	}
}

.main {
	background-color: #36D88A;
	padding: 10px;
}
.section-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: white;
}

.section-container section {
	width: 480px;
	border-radius: 20px;
	min-height: 300px;
	padding: 20px;
	margin-top: 20px;
}

.section-container section .text {
	margin-top: 10px;
	text-align: justify;
	line-height: 25px;
}

.code {
	white-space: pre;
}

.summary {
	background-color: #FF4540;
}

.code-examples{
	background-color: #AC3BD4;
	position: relative;
}

.code-examples:after{
	position: absolute;
	content: '';
	width: 460px;
	border-top: 1px dashed black;
	top: 225px;
	left: 11px;
}

.education{
	background-color: #EB3B8B;
}

.english {
	background-color: #FF9A40;
}

.footer {
	height: 50px;
	background-color: #323232;
}