* {
    font-family: sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;

    box-shadow: 0 0 10px black;
}

.header {
    padding: 30px 0;

    background-color: #323232;
}

.container-about {
    display: flex;

    width: 900px;
    margin: 0 auto;

    justify-content: space-between;
}

.photo {
    border-radius: 20px;
    box-shadow: 0 0 5px white;
}

.name {
    font-size: 40px;

    margin-top: 70px;

    color: white;
    text-shadow: 0 0 5px black;
}

.menu {
    font-size: 18px;

    margin-top: 40px;

    list-style: none;
}

.menu li {
    position: relative;

    padding-top: 10px;
}

.menu li img {
    position: absolute;
    top: 8px;
    left: -27px;

    -webkit-filter: invert(1);
            filter: invert(1);
}

.menu li a:link,
.menu li a:visited {
    text-decoration: none;

    color: #959595;
}

.menu li a:hover {
    color: #2eb398;
    text-shadow: 0 0 1px yellow;
}

.skills {
    color: white;
}

.box .subtitle {
    color: #bf3a30;
}

.box {
    width: 250px;
    margin: 0 20px;
    padding: 10px;

    -webkit-animation: anim 4s linear infinite alternate;
            animation: anim 4s linear infinite alternate;

    border-width: 3px;
    border-style: solid;
    -o-border-image: linear-gradient(to bottom, yellow 0%, transparent 40%, transparent 60%, yellow 100%);
       border-image: linear-gradient(to bottom, yellow 0%, transparent 40%, transparent 60%, yellow 100%);
    border-image-slice: 1;
}

@-webkit-keyframes anim {
    from {
        transform: translateX(0);	
    }
    to {
        transform: translateX(735px);
    }
}

@keyframes anim {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(700px);
    }
}

.main {
    padding: 10px;

    background-color: #36d88a;
}

.section-container {
    display: flex;

    color: white;

    flex-wrap: wrap;
    justify-content: space-around;
}

.section-container section {
    width: 480px;
    min-height: 300px;
    margin-top: 20px;
    padding: 20px;

    border-radius: 20px;
}

.section-container section .text {
    line-height: 25px;

    margin-top: 10px;

    text-align: justify;
}

.code {
    white-space: pre;
}

.summary {
    background-color: #ff4540;
}

.code-examples {
    position: relative;

    background-color: #ac3bd4;
}

.code-examples:after {
    position: absolute;
    top: 225px;
    left: 11px;

    width: 460px;

    content: '';

    border-top: 1px dashed black;
}

.education {
    background-color: #eb3b8b;
}

.english {
    background-color: #ff9a40;
}

.footer {
    height: 50px;

    background-color: #323232;
}
